<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ethannesbitt.youcook">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/youcookic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/youcookic_launcher"
        android:supportsRtl="true"
        android:theme="@style/YouCookV1">

        <!-- Splash Activity -->
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".Login"
            android:label="@string/login_title"
            android:theme="@style/NoTitle" />
        <!-- Register Activity -->
        <activity
            android:name=".Register"
            android:label="@string/register_title"
            android:theme="@style/NoTitle" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/dashboard" />

        <!-- Shopping List Activity -->
        <activity
            android:name=".ShoppingList"
            android:label="@string/shopping_list_menu" />
        <!-- Search Activity -->
        <activity
            android:name=".Search"
            android:label="@string/search_menu" />
        <!-- Recipes Activity -->
        <activity
            android:name=".Recipes"
            android:label="@string/recipe_menu" />
        <!-- Recipe SubActivities -->
        <activity
            android:name=".Mains"
            android:label="@string/main"/>
        <activity
            android:name=".Starters"
            android:label="@string/starter"/>
        <activity
            android:name=".Desserts"
            android:label="@string/dessert"/>
        <!-- Timer Activity -->
        <activity
            android:name=".Timer"
            android:label="@string/timer_menu" />
        <!-- Converter Activity -->
        <activity
            android:name=".Converter"
            android:label="@string/converter_menu" >
        </activity>
    </application>

</manifest>